.background{
    background-image: url('../../Images/studentProfileBackground.jpg');
}
@media screen and (max-width: 600px){
    .background{
        display: flex;
        flex-direction: column;
    }
}
.batonn{
  
    color: white;
    border-radius: 8px;
}