.header{
    
    text-align: center;
 
    display: flex;
    
}
.font{
    margin-top: 10px;
    font-weight: 400;
    color: #330000;
    padding-top: 160px;
    padding-left: 100px;
}
.font1{
    text-align: center;
    color: #000033;
}
.center-fit {
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
    border-radius: 10px;
}

.baton{

    width:100%;
    display:block;
    margin-top: 15px;
}