.header{
    background-image: url('../../Images/white-painted-wall-texture-background.jpg');
   
 
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    
}
.header-child{
    width: 30%;
    text-align: center;
   margin-left: 35%;
    margin-top: 30vh;
    margin-right: 5vw;
    color: black;
}
.header-child button{
    width: 20vw;
}
.header-child h3,p{
    padding-top: 2vh;
}

@media only screen and (max-width: 576px){
    .header-child{
        width: 80%;
        margin-left: 10%;
    }
}