.header{
    background-image: url('../../Images/education_image.jpg');
   
 
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
    overflow: hidden;
    
}
.header-child{
    width: 30%;
    text-align: center;
    float: right;
    margin-top: 30vh;
    margin-right: 5vw;
    color: black;
}
.header-child button{
    width: 20vw;
}
.header-child h3,p,button{
    padding-top: 2vh;
}

