.submitsetting1{
  margin-left: 6rem;
  margin-bottom: 2vh;
}
@media only screen and (max-width: 576px){

  .studentregisterinput input{
      width: 15rem;
      padding-left: 5rem;
      margin-left: 2rem;
  }
  .studentregisterh2{
    margin-left: 5rem;
  }
}