
@media screen and (max-width: 600px){
    .background{
        display: flex;
        flex-direction: column;
    }
}
.batonn{
    background-color: rgb(83, 83, 247);
    color: white;
    border-radius: 8px;
}
.box-shadow{
    box-shadow: 10px 5px 5px gray;
    border-radius: 10px;
}